.favorites {
  display: flex;
  flex-direction: column;
}

.favorites__title {
  margin: 0 0 0 36px;
  font-size: 30px;
  line-height: 20px;
}

.favorites__list {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, 425px);
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
  justify-content: center;
}

.favorites__show-more-btn {
  background: none;
  border: none;
  color: #000;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  margin: 24px auto;
  padding: 0;
  align-self: center;
  cursor: pointer;
}

.favorites__show-more-btn:hover {
  color: #0284b8;
  transition: 0.2s linear;
}
