.toggle-switch {
  margin: 8px 0 0;
  width: 280px;
  display: flex;
  position: relative;
  font-family: "Ubuntu", serif;
}

.toggle-switch__label {
  height: 44px;
}

.toggle-switch_checkbox {
  border-radius: 30px;
  width: 280px;
  height: 44px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  appearance: none;
  cursor: pointer;
}

.toggle-switch__slider {
  width: 130px;
  height: 38px;
  border-radius: 30px;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  position: absolute;
  pointer-events: none;
}

.toggle-switch_checkbox:hover {
  border: solid 2px rgba(0, 0, 0, 1);
  transition: 0.3s linear;
}

.toggle-switch__slider_favorites {
  top: 0;
  left: 0;
}

.toggle-switch__slider_saved {
  top: 0;
  right: 0;
}

.toggle-switch__favorites {
  margin: 0;
  padding: 6px 0 0 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.toggle-switch__saved {
  margin: 0;
  padding: 6px 6px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.toggle-switch__active {
  color: #fff;
}

.toggle-switch_checkbox:hover ~ .toggle-switch__favorites,
.toggle-switch_checkbox:hover ~ .toggle-switch__saved {
  color: #000;
}

.toggle-switch_checkbox:hover ~ .toggle-switch__active {
  color: #fff;
}

@media screen and (max-width: 630px) {
  .toggle-switch {
    width: 205px;
  }

  .toggle-switch_checkbox {
    width: 205px;
  }

  .toggle-switch__slider {
    width: 100px;
  }

  .toggle-switch__favorites {
    font-size: 14px;
    line-height: 30px;
  }

  .toggle-switch__saved {
    font-size: 14px;
    line-height: 30px;
  }
}

@media screen and (max-width: 445px) {
  .toggle-switch {
    width: 195px;
    height: 30px;
  }

  .toggle-switch_checkbox {
    width: 195px;
    height: 36px;
  }

  .toggle-switch__slider {
    width: 90px;
    height: 30px;
  }

  .toggle-switch__favorites {
    line-height: 20px;
  }

  .toggle-switch__saved {
    line-height: 20px;
  }
}
