.sidebar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar__username-container {
  margin: 0;
  padding: 0;
  border-bottom: solid 2px #e8c902;
  width: 100%;
}

.sidebar__username {
  margin: 0;
  padding: 0 0 24px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #0284b8;
}

.sidebar__fave-games {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sidebar__fave-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
}

.sidebar__faves {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
}

.sidebar__save-games {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sidebar__save-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
}

.sidebar__saves {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
}

.sidebar__edit {
  background: transparent;
  border: none;
  color: #0284b8;

  font-size: 18px;
  line-height: 24px;
  margin: 16px 0 0;
  padding: 0;
  cursor: pointer;
}

.sidebar__logout {
  background-color: #000;
  border: solid 2px #0284b8;
  color: #e8c902;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 16px;
  margin: 0;
  padding: 18px 32px;
  cursor: pointer;
}

.sidebar__edit:hover {
  color: #000;
  transition: 0.2s linear;
}

.sidebar__logout:hover {
  border-color: #e8c902;
  color: #0284b8;
  transition: 0.2s linear;
}

@media screen and (max-width: 630px) {
  .sidebar__edit {
    font-size: 14px;
    line-height: 20px;
  }

  .sidebar__logout {
    font-size: 14px;
    line-height: 20px;
    padding: 14px 20px;
  }
}
