.games {
  margin: 0 auto 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.games__top-section {
  margin: 0;
  padding: 0;
}

.games__heading-border {
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  border-bottom: solid 1px #cfcfcf;
}

.games__heading {
  margin: 0;
  padding: 12px 0 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.games__dropdowns-container {
  margin: 16px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.games__dropdowns-label {
  display: flex;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.games__dropdowns-label-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  align-self: center;
}

.games__select-container {
  position: relative;
}

.games__select {
  background-color: #f5f5f5;
  background-image: url(../../assets/icons/dropdown-icon-blue.png);
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 16px 8px;
  border-radius: 30px;
  border: solid 2px #2f71e5;
  color: #2f71e5;
  padding: 18px 24px;
  font-weight: 500;
  width: 200px;
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.games__select-option {
  color: #2f71e5;
  background-color: #f5f5f5;
}

.games__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 400px);
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
  justify-content: center;
}

.games__show-more-btn {
  background-color: #2f71e5;
  border: solid 2px #f5f5f5;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  border-radius: 100px;
  margin: 12px;
  padding: 18px 32px;
  height: 60px;
  align-self: center;
  cursor: pointer;
}

.games__select-option:hover {
  color: #2f71e5;
  background-color: #f5f5f5;
}

.games__show-more-btn:hover {
  background-color: #0255e5;
  transition: 0.2s linear;
}

@media screen and (max-width: 1140px) {
  .games__select {
    padding: 8px 12px;
    width: 170px;
  }
}

@media screen and (max-width: 1055px) {
  .games__dropdowns-label {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 985px) {
  .games__list {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

@media screen and (max-width: 820px) {
  .games {
    margin: 0 auto 4px;
    padding: 4px;
  }

  .games__dropdowns-container {
    margin: 16px 0 0;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }

  .games__dropdowns-label-title {
    font-size: 14px;
    line-height: 20px;
  }

  .games__select {
    font-size: 14px;
    line-height: 20px;
    width: 150px;
  }
}

@media screen and (max-width: 485px) {
  .games__select {
    font-size: 14px;
    line-height: 20px;
    width: 116px;
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 8px 4px;
  }
}

@media screen and (max-width: 385px) {
  .games__list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
