.game-modal {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.game-modal__title-container {
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.game-modal__title {
    margin: 0;
    padding: 0;

    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.game-modal__btns {
    margin: 0 36px 0 0;
    display: flex;
    gap: 8px;
}

.game-modal__save-btn {
    background-color: #dcdcdc;
    border: none;
    object-fit: contain;
    cursor: pointer;
}

.game-modal__save-img {
    background-color: #dcdcdc;
    padding: 4px;
    height: 30px;
    width: 30px;
}

.game-modal__fave-btn {
    background: none;
    border: none;
    object-fit: contain;
    cursor: pointer;
}

.game-modal__fave-star {
    height: 36px;
    width: 36px;
}

.game-modal__info-container {
    display: flex;
}

.game-modal__thumbnail-container {
    position: relative;
}

.game-modal__thumbnail {
    border-radius: 16px;
    height: 330px;
    width: 580px;
}

.game-modal__download-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.game-modal__cat-plat-container {
    margin: 8px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "Ubuntu", serif;
}

.game-modal__category {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.game-modal__platform {
    margin: 0;
    padding: 0;
    color: #8b8b8b;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.game-modal__status {
    color: #0284b8;
    text-transform: uppercase;
    font-family: "Ubuntu", serif;
}

.game-modal__download-btn {
    background-color: #000;
    border: solid 2px #0284b8;
    color: #e8c902;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    border-radius: 16px;
    margin: 0 0 0 20px;
    padding: 4px 20px;
    height: 60px;
    cursor: pointer;
}

.game-modal__info-container-right {
    margin: 0 0 0 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.game-modal__info-container-right-top {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.game-modal__dev-info-container {
    margin: 0 12px 0 auto;
    padding: 0;
    display: flex;
    gap: 24px;
}

.game-modal__dev-info-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.game-modal__dev-info-type {
    font-weight: 400;
    color: #8b8b8b;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.game-modal__dev-info {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.game-modal__description {
    font-family: "Ubuntu", serif;
    margin: 0;
    font-weight: 700;
}

.game-modal__bottom-container {
    margin: 16px 0 0;
    padding: 0;
    display: grid;
    align-items: center;
    grid-template-areas: "screenshot specs";
    gap: 20px;
}

.game-modal__screenshot-container {
    margin: 0;
    padding: 0;
    grid-area: screenshot;
}

.game-modal__specs-container {
    margin: 0 auto auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-area: specs;
    max-width: 400px;
}

.game-modal__specs-title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    align-self: center;
}

.game-modal__specs-name {
    margin: 4px 0 0;
    padding: 0;
    font-weight: 400;
    color: #8b8b8b;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.game-modal__specs-spec {
    font-family: "Ubuntu", serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.game-modal__download-btn:hover {
    border-color: #e8c902;
    color: #0284b8;
    transition: 0.2s linear;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0284b8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0284b8;
}

::-webkit-scrollbar-button {
    display: none;
}

@media screen and (max-width: 1140px) {
    .game-modal__thumbnail {
        height: 282px;
        width: 500px;
    }
}

@media screen and (max-width: 1055px) {
    .game-modal__title-container {
        margin-bottom: 12px;
    }

    .game-modal__info-container {
        flex-direction: column;
        gap: 80px;
    }

    .game-modal__thumbnail {
        width: 100%;
        height: 100%;
    }

    .game-modal__dev-info-wrapper {
        gap: 4px;
    }

    .game-modal__description {
        font-size: 14px;
    }

    .game-modal__bottom-container {
        grid-template-areas:
            "screenshot"
            "specs";
    }
}

@media screen and (max-width: 610px) {
    .game-modal__title-container {
        margin: 0 0 8px;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: start;
    }
    .game-modal__title {
        font-size: 32px;
        line-height: 40px;
    }

    .game-modal__btns {
        margin-right: 4px;
        gap: 0;
    }

    .game-modal__save-img {
        height: 24px;
        width: 24px;
    }

    .game-modal__fave-star {
        height: 28px;
        width: 28px;
    }
}

@media screen and (max-width: 515px) {
    .game-modal {
        padding: 4px;
    }

    .game-modal__title-container {
        margin-bottom: 8px;
    }

    .game-modal__save-img {
        padding: 0;
        height: 20px;
        width: 20px;
    }

    .game-modal__fave-star {
        padding: 0;
        height: 22px;
        width: 22px;
    }

    .game-modal__info-container {
        gap: 60px;
    }

    .game-modal__cat-plat-container {
        gap: 4px;
    }

    .game-modal__category {
        font-size: 10px;
    }

    .game-modal__platform {
        font-size: 10px;
    }

    .game-modal__status {
        font-size: 10px;
    }

    .game-modal__download-btn {
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 0 12px;
        padding: 8px 20px;
        height: 36px;
    }

    .game-modal__dev-info-container {
        gap: 10px;
    }

    .game-modal__dev-info-type {
        font-size: 10px;
    }

    .game-modal__dev-info {
        font-size: 10px;
    }
}

@media screen and (max-width: 420px) {
    .game-modal__info-container {
        gap: 60px;
    }

    .game-modal__cat-plat-container {
        gap: 4px;
    }

    .game-modal__category {
        font-size: 8px;
    }

    .game-modal__platform {
        font-size: 8px;
    }

    .game-modal__status {
        font-size: 8px;
    }

    .game-modal__download-btn {
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 0 12px;
        padding: 8px 12px;
        height: 36px;
    }

    .game-modal__dev-info-container {
        gap: 8px;
    }

    .game-modal__dev-info-type {
        font-size: 8px;
    }

    .game-modal__dev-info {
        font-size: 8px;
    }
}
