.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal__content {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  padding: 40px;
  width: 480px;
  border-radius: 30px;
  border: 1px solid #cfcfcf;
}

.modal__close-btn {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: #fff url(../../assets/btns/close-btn.png) center no-repeat;
  z-index: 2;
  cursor: pointer;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close-btn_type_completed {
  display: none;
}

.modal__content_type_game {
  border-radius: 16px;
  padding: 0px;
  width: 90vw;
  height: 90vh;
  overflow: scroll;
}

.modal__content_type_image {
  margin: 0;
  padding: 16px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.modal__close-btn_type_image {
  top: -20px;
  right: -20px;
  background: transparent url(../../assets/btns/close-btn-white.png);
}

@media screen and (max-width: 515px) {
  .modal__content_type_completed {
    padding-bottom: 30px;
    max-width: 343px;
    max-height: 463px;
  }

  .modal__content_type_register {
    padding: 20px 20px 72px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
    border: none;
  }

  .modal__content_type_signin {
    padding-bottom: 72px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
    border: none;
  }

  .modal__content_type_edit {
    padding-bottom: 72px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 30px 30px 0 0;
    border: none;
  }

  .modal__close-btn_type_game {
    top: 12px;
  }
}
