.search {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search__heading-border {
  margin: 4px;
  padding: 0;
  height: 80px;
  width: 100%;
  border-bottom: solid 1px #cfcfcf;
}

.search__heading {
  margin: 0;
  padding: 0 20px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.search__bar {
  margin: 12px auto;
  padding: 0;
  position: relative;
  height: 60px;
  width: 450px;
}

.search__btn {
  background: none;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.search__icon {
  margin: 0;
  padding: 0;
}

.search__input {
  margin: 0;
  padding: 20px 24px;
  background-color: #f5f5f5;
  border: solid 1px #000;
  color: #000;
  border-radius: 30px;
  height: 60px;
  width: 450px;
}

.search__results-heading {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.search__results {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 400px);
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
  justify-content: center;
}

input[type="search"]:empty {
  border: solid 1px #cfcfcf;
}

input[type="search"]:focus {
  outline: none;
  border: solid 1px #2f71e5;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin: auto 36px auto;
}

@media screen and (max-width: 985px) {
  .search__results {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

@media screen and (max-width: 610px) {
  .search__heading-border {
    height: 60px;
  }

  .search__heading {
    font-size: 32px;
    line-height: 40px;
  }

  .search__bar {
    height: 40px;
    width: 320px;
  }

  .search__btn {
    top: 8px;
    right: 8px;
  }

  .search__input {
    height: 40px;
    width: 320px;
  }
}

@media screen and (max-width: 485px) {
  .search__bar {
    height: 40px;
    width: 280px;
  }

  .search__input {
    height: 40px;
    width: 280px;
  }
}

@media screen and (max-width: 385px) {
  .search__bar {
    width: 220px;
  }

  .search__input {
    width: 220px;
  }
  .search__results {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
