.header__main {
  position: relative;
  margin-top: 0;
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  margin: 0 0 0 20px;
  padding: 12px;
  width: 232px;
  height: 75px;
  background-color: #000;
  border-radius: 12px;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.2);
}

.header__logo-link {
  text-decoration: none;
  color: #000;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo-bar-one {
  margin: 0;
  background-color: #0284b8;
  height: 8px;
  width: 232px;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f5f5f5;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 12px;
}

.header__logo-bar-two {
  margin: 0;
  background-color: #e8c902;
  height: 8px;
  width: 232px;
}

.header__subtitle-container {
  margin: 0 auto;
  padding: 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  border: #000 solid 1px;
  border-radius: 12px;
  height: 75px;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 52px;
}

.header__right-container {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  border-radius: 12px;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.2);
}

.header__signed-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 12px;
  background-color: #000;
  border-radius: 12px;
  width: 232px;
  height: 75px;
}

.header__btn-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__tab {
  margin: 0;
  padding: 0;
}

.header__btn {
  background: none;
  border: none;
  color: #0284b8;
  white-space: nowrap;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}

.header__mobile-btn-container {
  margin: 0 16px 0 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
}

.header__mobile-profile-btn {
  margin: 0;
  padding: 10px 32px;
  cursor: pointer;
  color: #0284b8;
  border: none;
  display: none;
  background: transparent;
}

.header__mobile-register-btn {
  margin: 0;
  padding: 10px 12px;
  cursor: pointer;
  background: transparent;
  color: #0284b8;
  border: none;
  display: none;
}

.header__mobile-btn {
  margin: 0 18px 0 0;
  height: 24px;
  width: 32px;
  color: #000;
  display: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.header__mobile-close-btn {
  margin: auto 18px 0 0;
  padding: 0;
  height: 34px;
  width: 34px;
  border: none;
  cursor: pointer;
  background: transparent center;
}

.header__mobile {
  display: none;
}

.header__btn_register {
  color: #e8c902;
}

.header__btn_profile {
  color: #e8c902;
}

.header__btn:hover {
  color: #e8c902;
  transition: 0.2s linear;
}

.header__btn_register:hover {
  color: #f5f5f5;
  transition: 0.2s linear;
}

.header__mobile-register-btn:hover {
  color: #000;
  transition: 0.2s linear;
}

.header__btn_profile:hover {
  color: #e8c902;
}

@media screen and (max-width: 1338px) {
  .header__subtitle {
    font-size: 36px;
  }
}

@media screen and (max-width: 1186px) {
  .header__subtitle-container {
    padding: 0 8px;
  }
}

@media screen and (max-width: 1080px) {
  .header__subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 985px) {
  .header__subtitle-container {
    display: none;
  }

  .header__right-container {
    display: none;
  }

  .header__mobile-btn-container {
    display: flex;
    margin-left: auto;
  }

  .header__signed-container {
    margin: 0;
    padding: 0;
    max-width: 200px;
    background: transparent;
    justify-content: end;
    align-items: center;
  }

  .header__mobile-profile-btn {
    display: block;
  }

  .header__mobile-register-btn {
    display: block;
  }

  .header__mobile-btn {
    display: block;
  }

  .header__mobile {
    display: block;
  }

  .header__mobile-container {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    position: absolute;
    top: 81px;
    right: 10px;
    text-align: center;
    width: 200px;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: #dcdcdc;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .header__mobile-login-btn-container {
    margin: 0;
    padding: 0;
  }

  .header__mobile-login-btn-hidden {
    margin: 12px 0 0;
    padding: 0;
  }

  .header__mobile-login-btn {
    margin: 12px auto 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    color: #0284b8;
    border: none;
    border-radius: 30px;
  }

  .header__mobile-tab-link {
    text-decoration: none;
    color: #000;
  }

  .header__mobile-tab {
    margin: 0;
    padding: 0 0 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
  }

  .header__mobile-tab-link.active .header__mobile-tab {
    color: rgba(0, 0, 0, 0.6);
  }

  .header__mobile-profile-btn_menu {
    display: none;
  }

  .header__mobile-login-btn:hover {
    color: #000;
    transition: 0.2s linear;
  }

  .header__mobile-tab:hover {
    color: rgba(0, 0, 0, 0.8);
    transition: 0.2s linear;
  }
}

@media screen and (max-width: 610px) {
  .header__logo-container {
    margin-left: 10px;
    width: 140px;
    height: 57px;
  }

  .header__logo-bar-one {
    width: 140px;
  }

  .header__logo-text {
    font-size: 32px;
    line-height: 40px;
  }

  .header__logo-bar-two {
    width: 140px;
  }

  .header__mobile-btn-container {
    display: flex;
    margin-left: auto;
    width: 160px;
  }
}

@media screen and (max-width: 515px) {
  .header__mobile-profile-btn {
    font-size: 0;
  }

  .header__mobile-profile-btn_menu {
    display: block;
    font-size: 16px;
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 445px) {
  .header__mobile-container {
    width: 100%;
    margin: 0 auto;
    right: 0;
  }

  .header__mobile-register-btn {
    display: none;
  }

  .header__mobile-profile-btn {
    display: none;
  }

  .header__mobile-profile-btn_menu {
    display: block;
    font-size: 16px;
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 385px) {
  .header__signed-container {
    width: 50%;
    margin: 0;
  }
}
