.show-pass-btn {
  opacity: 50%;
  background: none;
  border: none;
  position: absolute;
  top: 26px;
  right: 8px;
  cursor: pointer;
}

@media screen and (max-width: 515px) {
  .show-pass-btn {
    top: 22px;
    right: 16px;
  }
}

@media screen and (max-width: 445px) {
  .show-pass-btn {
    right: 8px;
  }
}

@media screen and (max-width: 385px) {
  .show-pass-btn {
    right: 0;
  }
}
