.favorited {
  display: flex;
  flex-direction: column;
}

.favorited__list {
  display: grid;
  position: relative;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, 425px);
  list-style-type: none;
  margin: 20px 0;
  padding: 20px 0 0;
  justify-content: center;
  min-height: 100px;
}

.favorited__show-more-btn {
  background: none;
  border: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  margin: 24px;
  padding: 0;
  align-self: center;
  cursor: pointer;
}

.favorited__show-more-btn:hover {
  color: #0284b8;
  transition: 0.2s linear;
}

@media screen and (max-width: 985px) {
  .favorited__list {
    grid-template-columns: repeat(auto-fit, 375px);
  }
}

@media screen and (max-width: 610px) {
  .favorited__list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
