.card {
  border-radius: 16px;
  background: #dcdcdc;
  max-width: 425px;
  height: 400px;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

.card__thumbnail-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 400px;
}

.card__thumbnail {
  border-radius: 16px;
  border: none;
  object-fit: cover;
  width: 400px;
  border: 1px solid #000;
  cursor: pointer;
}

/* .card__save-bg {
  background-color: #f5f5f5;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__save-btn {
  margin: 0;
  padding: 8px;
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.card__info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 4px 24px;
}

/* .card__fav-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
} */

.card__category {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  color: #000;
  font-family: "Ubuntu", serif;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  bottom: 12px;
  right: 16px;
}

.card__title {
  margin: 8px 0 8px 8px;
  padding: 0;
  font-size: 32px;
  line-height: 40px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__description {
  margin: 0;
  padding: 0;
  max-width: 352px;
  max-height: 82px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Ubuntu", serif;
}

.card__platform {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Ubuntu", serif;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  bottom: 12px;
  left: 16px;
}

.card__fav-btn-star:active {
  opacity: 0.2;
  transition: 0.2s linear;
}

@media screen and (max-width: 985px) {
  .card {
    height: 400px;
    width: 350px;
  }

  .card__thumbnail-container {
    height: 196px;
    width: 350px;
  }

  .card__thumbnail {
    height: 196px;
    width: 350px;
  }

  .card__save-bg {
    top: 8px;
    right: 8px;
  }

  .card__info {
    margin: 12px 16px;
  }

  .card__title {
    font-size: 26px;
    line-height: 30px;
  }

  .card__description {
    max-width: 300px;
  }
}

@media screen and (max-width: 385px) {
  .card {
    height: 350px;
    width: 300px;
  }

  .card__thumbnail-container {
    height: 170px;
    width: 300px;
  }

  .card__thumbnail {
    height: 170px;
    width: 300px;
  }

  .card__save-bg {
    top: 8px;
    right: 8px;
  }

  .card__info {
    margin: 8px 12px;
  }

  .card__description {
    max-width: 280px;
    max-height: 60px;
  }
}
