.favorites {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.favorites__title {
  margin: 0 0 0 36px;
  font-size: 30px;
  line-height: 20px;
}

.favorites__list {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, 425px);
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 985px) {
  .favorites__list {
    grid-template-columns: repeat(auto-fit, 375px);
  }
}

@media screen and (max-width: 770px) {
  .favorites {
    margin-left: 16px;
  }

  .favorites__title {
    margin: 0 0 0 12px;
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 630px) {
  .favorites__title {
    margin: 0;
    text-align: center;
  }

  .favorites__list {
    margin-top: 12px;
  }
}

@media screen and (max-width: 610px) {
  .favorites__list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
