.profile {
  margin: 40px auto;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.profile__sidebar {
  margin: 0;
  width: 30%;
}

.profile__games {
  width: 70%;
}

.profile__mobile-btn-container {
  position: relative;
  margin: 0 auto;
}

.profile__mobile-btn {
  margin: 8px 0;
  padding: 0;
  height: 36px;
  width: 36px;
  cursor: pointer;
  background: none;
  color: #000;
  border: none;
  display: none;
}

.profile__mobile {
  display: none;
}

@media screen and (max-width: 770px) {
  .profile__sidebar {
    width: 40%;
  }

  .profile__games {
    width: 60%;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    margin-top: 0;
    flex-direction: column;
  }
  .profile__sidebar {
    display: none;
  }

  .profile__games {
    margin: 0 auto;
    width: 100%;
  }

  .profile__mobile-btn-container {
    width: 300px;
  }

  .profile__mobile-btn {
    display: block;
  }

  .profile__mobile {
    display: block;
    position: absolute;
    width: 280px;
    z-index: 4;
  }

  .profile__mobile-container {
    margin: 0;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 16px;
    background-color: #dcdcdc;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  }

  .profile__mobile-close-btn {
    position: absolute;
    top: 8px;
    left: 8px;
    background: transparent url(../../assets/btns/close-btn.png) center
      no-repeat;
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 385px) {
  .profile__mobile-btn-container {
    width: 200px;
  }
}
