.icons {
  margin: 0 20px 0;
  padding: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons__game-icon {
  height: 40px;
}

@media screen and (max-width: 820px) {
  .icons__game-icon_button {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .icons__game-icon {
    height: 30px;
  }
}

@media screen and (max-width: 385px) {
  .icons__game-icon_pman {
    display: none;
  }

  .icons__game-icon_dpad {
    display: none;
  }
}
